*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-image: url(../images/the_men_bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
a {
    text-decoration: none;    
}


/* LOGIN PAGE START */
form{
    width: 100%;
    margin: 0px auto;
}
.form {
    /* background-image: url(../images/the_men_bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    
}

.form__nav {
    display: flex;
    color: #fff;
    padding-top: 4rem;
}
.form__heading {
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 80rem;
    padding-left: 4rem;
    color: #fff;
    
}
.form__list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    
    padding-right: 2rem;
    
}
.form__list-1:hover {
    color: #ffff00;
    transform: scaleY(3deg);
    transition: all .3s;
}
.form__list-1 {
    margin-right: 2rem;
    font-size: 1.3rem;
    color: #fff;
}

.form__details {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    /* margin-left: 45rem; */
    text-align: center;
    width: 50%;
    margin: 0px auto;
}
.form__input {
    border: 1.5px solid#ffff00;
    border-radius: 20px;
    margin: 2rem;
    margin-bottom: 4rem;
    
    

    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 200;
    color: black;
    padding: 2rem 22rem 2rem 1rem;
    
    background-color: rgba(#f1f1f1, 1);
    
    width: 40%;
    display: block;
    transition: all .3s;
}
.fa {
    margin-right: 1rem;
    color: #fff;
    font-weight: bold;
}
.fa-lock, .fa-user-o {
    color: black;
}
.form__button {
    border: 2px solid#ffff00;
    border-radius: 20px;
    color: black;
    margin: 2rem;
    
    

    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    
    padding: 2rem 1rem;
    
    width: 40%;
    display: block;
    transition: all .3s;
    background-color: #ffff00;
}
.form__radio-detail {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.form__radio-label {
    margin-right: 5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.join {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-right: 5rem;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     color: #666;
     top: 5px;
     height: 15px;
     width: 15px;
     border: 2px solid#fff;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before {
     position: absolute;
 
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #ffff;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}

.input-container {
    display: flex;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 30px;
  background-color:#f1f1f1;
  border: 2px solid #ffff00;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
}
.icon {
    padding: 10px;
    background-color:#f1f1f1;
    color: black;
    border: none;
  }
  
  
.input-field {
      font-size: 1.6rem;
      color: black;
      background-color:#f1f1f1;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
  }
  
  .input-field:focus {
    border: none;
    outline: none;
  }
  

  .btn {
    border: none;
    background-color: #ffff00;
    border-radius: 15px;
    color: black;
    padding: 18px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    /* margin-right: 50rem; */
    opacity: 0.9;
  }
  
.btn:hover {
    opacity: 1;
}
/* LOGIN PAGE END */

/* REGISTRATION PAGE */

.regpage__content {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    padding: 4rem 5rem;
    margin: 5rem auto; 
    width: 45%;
    display: block;
    box-shadow: 0 2rem 4rem rgba(#aaa, .2);
    position: relative;
}
    
.regpage__group {
    margin-bottom: 1rem;
}

.regpage__input{
    font-size: 1.2rem;
    font-family: inherit;
    color:#6D5D4B;
    padding: 1.3rem;
    
    border-radius: 2rem;
    background-color: rgba(#6D5D4B, 0.2);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
}



.regpage__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#6D5D4B, .1);
    border-bottom: 3px solid #ffff00;
}
.regpage__input:focus:invalid {
    border-bottom: 3px solid #aa2233;
}

.regpage__input::-webkit-input-placeholder {
    color: rgba(#6D5D4B, 0.2);
}
.regpage__label {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 2.5rem;
    text-align: left;
    display: block;
    transition: all .2s;    
}

.regpage__input:placeholder-shown + .regpage__label {/* . // sibling selector  */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}



.regpage__button {
    border: 2px solid#ffff00;
    border-radius: 20px;
    color: black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    padding: 1rem 1rem;
    width: 100%;
    display: block;
    transition: all .3s;
    background-color: #ffff00;
}


.regpage__button:hover, .contact-me:hover {
    background-color: rgba(255, 255, 255, 0.4); 
    border: 2px solid #ffff00;
    color: #ffff00;
}

/* HOMEPAGE */

.homepage__content {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    padding: 4rem 5rem;
    margin: 5rem auto; 
    width: 45%;
    display: block;
    box-shadow: 0 2rem 4rem rgba(#aaa, .2);
    position: relative;
}

.homepage__detail {
    font-size: 1.3rem;
    margin-top: 3rem;
}

.center{
    text-align: center;
    margin: 0px auto;
}

.error{
    color: brown;
    font-size: 14px;
    margin: 10px;
}

.success{
    color: white;
    font-size: 14px;
    margin: 10px;
    margin: 0px auto;
    text-align: center;
}
